/* Mobile Portrait View */
@media screen and (max-width:767px) {
	*{box-sizing:border-box;}
	.wp-block-group.Banner-Caption h2{ font-size:30px !important;}
	.wp-block-navigation__responsive-container.is-menu-open.has-modal-open{ padding:25px;}
	.wp-block-group.about-BlueBX{ position:relative !important; right:0 !important; padding:15px !important;}
	.wp-container-1.wp-container-1,
	.wp-container-2.wp-container-2, 
	.wp-container-3.wp-container-3,  
	.wp-container-4.wp-container-4, 
	.wp-container-5.wp-container-5, 
	.wp-container-6.wp-container-6, 
	.wp-container-7.wp-container-7,
	.wp-container-8.wp-container-8, 
	.wp-container-9.wp-container-9, 
	.wp-container-10.wp-container-10
	{ 
		flex-wrap:wrap !important; margin-bottom:5px!important;
	}
	.bannerInfo h2{ font-size:22px !important;}
	.hdrbanner-BX{ min-height:400px !important;}
	.top-fourbx{ margin-bottom:30px !important;}
	.top-fourbx img{ width:auto !important;}
	.top-fourbx .wp-block-media-text .wp-block-media-text__content{ padding:0 !important;}
	h2.About-head{ font-size:32px !important;}
	.wp-container-7.wp-container-7{ justify-content: inherit !important; }
	.wp-container-20.wp-container-20{ padding:5px !important; }
	.wp-container-20.wp-container-20 p{ font-size:12px !important}
	.LeftBX40{ padding:0 !important;}
	.RightBX50{ padding:50px 0  30px!important;}
	.expBX { left:-10% !important;}
	.expBX h2{ font-size:60px !important}
	.RightListBX{ padding:0;}
	.RightListBX ul{ padding:10px;}
	.RightListBX li{ font-size:16px !important; line-height:24px !important; margin-bottom:10px;}
	.LeftCoverBX{ padding:0 !important; min-height:350px !important}
	.sec3-RightBX{ padding:0 !important;}
	.sec3-RightBX h3{ font-size:32px !important;}
	.sec3-2colbx{ margin-bottom:35px !important;}
	
}
@media screen and (min-width:300px) and (max-width: 599px){
	.HDR-Panel{ position:relative !important;}
	.WP-siteNavigation{ padding:0 !important; position:absolute !important; right:10px !important; top:35px !important;}
}

/* Tablet View */
@media screen and (min-width:768px) and (max-width: 980px){

.RightBX50{ padding-top:50px !important}
.sec3-2colbx{ margin-bottom:35px !important; margin-right:25px !important;}

}


@media screen and (max-width:1169px) and (min-width:981px) { 
html{overflow-x:hidden; }
.header-banner-cover{ position:relative;}
.header-banner-cover .wp-block-cover__inner-container{  top:35% !important; }

}

@media screen and (max-width: 980px){
	.wp-block-section-01 h2, .wp-block-section-02 h2{ font-size:28px !important; }
	.wpcf7 input[type="text"], 
	.wpcf7 input[type="tel"], 
	.wpcf7 input[type="email"], 
	.wpcf7 textarea{ 
		width:100%;
	}	
}